@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --White: #FFFFFF;
    --Dark: #000000;
    --DarkBlue: #0A2640;
    --Gray: #777777;
    --Green: #65E4A3;
}
/* 
    Manrope Bold 700
    Manrope Regular 400
    
    Open+Sans SemiBold 600
    Open+Sans Regular 400
    Open+Sans Bold 700
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--White);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 56px;

}

.logo__link{
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 44px;
    color: var(--DarkBlue);
}

.nav {
    display: flex;
    align-items: center;
    gap: 40px;

}
.nav__link {
    font-weight: 600;
    font-size: 16px;
    color: var(--DarkBlue);
}

.nav__link:hover{
    opacity: 0.6;
}

.btn{
    display: flex;
    align-items: center;
    padding: 8px 40px;
    width: 128px;
    height: 40px;
    border: 2px solid var(--DarkBlue);
    font-weight: 700;
    border-radius: 24px;
    background-color: var(--White);
    margin-right: 7px;
    color: var(--DarkBlue);
}

.btn:hover{
    background-color: var(--DarkBlue);
    color: var(--White);
}

.notes {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    border-bottom: 1px solid var(--DarkBlue);
}

.notes .title__blog{
    display: flex;
    justify-content: center;
}

.title__blog {
    font-size: 20px;
    color: var(--DarkBlue);
}

.notes .notes__name{
    display: flex;
    justify-content: center;
}

.notes__name {
    margin-top: 12px;
    font-family: 'Manrope';
    font-size: 64px;
    color: var(--DarkBlue);
}

.card__notes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-top: 40px;
    margin-bottom: 72px;
}

.card_notes__img {
    width: 550px;
    height: 386px;
    border-radius: 24px;
    object-fit: cover;
    object-position: top;
}

.category {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 700;
    font-size: 16px;
    color: var(--DarkBlue);
}

.data__category {
    font-size: 16px;
    font-weight: 400;
    color: var(--Gray);
}

.title__category {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 48px;
    line-height: 1.5;
    color: var(--Dark);
    margin-top: 12px;
}

.block_autor_category__img{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}

.autor_category__img {
    width: 32px;
    height: 32px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    object-fit: cover;

    font-weight: 400;
    font-size: 16px;
    color: var(--Dark);
}

.news {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.title__news {
    font-family: 'Manrope';
    font-size: 48px;
    display: flex;
    align-items: center;
    color: var(--Dark);
    margin-top: 96px;
}

.bord__news {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.cards__news {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 400px;
}

.cards_news__img {
    width: 300px;
    height: 200px;
}

.title_cards__news{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cards_category__news{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.cards__news .title__category {
    font-size: 20px;
    line-height: 1.6;
}

.bord__news .btn{
    padding: 16px 56px;
    width: 219px;
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 56px;
    margin-top: 96px;
}

.bord__call_to_active {
    position: relative;
    height: 391px;
    background-color: var(--DarkBlue);
    border-radius: 12px;
    margin-top: 124px;
}

.ellips{
    position: absolute;
    right: 0%;
    top: 0%;
    border-radius: 12px;
}

.block__active {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 391px;
    position: absolute;
    z-index: 900;
}

.title__active {
    font-family: 'Manrope';
    font-size: 48px;
    line-height: 1.5;
    color: var(--White);
    text-align: center;
    width: 715px;
}

.block_input__active {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.input__email {
    background-color: var(--White);
    border: 2px solid var(--White);
    border-radius: 240px;
    width: 370px;
    font-size: 20px;
    color: var(--Dark);
    padding: 12px 32px;

}

.call_to_active .btn {
    padding: 16px 56px;
    background: var(--Green);
    border: 2px solid var(--Green);
    border-radius: 56px;
    width: 210px;
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    color: var(--DarkBlue);
}










