@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --White: #FFFFFF;
    --Dark: #000000;
    --DarkBlue: #0A2640;
    --Gray: #777777;
}
/* 
    Manrope Bold 700
    Manrope Regular 400
    
    Open+Sans SemiBold 600
    Open+Sans Regular 400
    Open+Sans Bold 700
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--White);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 56px;

}

.logo__link{
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 44px;
    color: var(--DarkBlue);
}

.nav {
    display: flex;
    align-items: center;
    gap: 40px;

}
.nav__link {
    font-weight: 600;
    font-size: 16px;
    color: var(--DarkBlue);
}

.nav__link:hover{
    opacity: 0.6;
}

.btn{
    display: flex;
    align-items: center;
    padding: 8px 40px;
    width: 128px;
    height: 40px;
    border: 2px solid var(--DarkBlue);
    font-weight: 700;
    border-radius: 24px;
    background-color: var(--White);
    margin-right: 7px;
}

.btn:hover{
    background-color: var(--DarkBlue);
    color: var(--White);
}

.notes {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    border-bottom: 1px solid var(--DarkBlue);
}

.notes .blog{
    display: flex;
    justify-content: center;
}

.blog {
    font-size: 20px;
    font-weight: 400;
    color: var(--DarkBlue);
}

.notes .notes__name{
    display: flex;
    justify-content: center;
}

.notes__name {
    margin-top: 12px;
    font-family: 'Manrope';
    font-size: 64px;
    color: var(--DarkBlue);
}

.card__notes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-top: 40px;
    margin-bottom: 72px;
}

.card_notes__img {
    width: 550px;
    height: 386px;
    border-radius: 24px;
    object-fit: cover;
    object-position: top;
}

.category {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 700;
    font-size: 16px;
    color: var(--DarkBlue);
}

.data__category {
    font-size: 16px;
    font-weight: 400;
    color: var(--Gray);
}

.title__category {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 48px;
    line-height: 1.5;
    color: var(--Dark);
    margin-top: 12px;
}

.block_autor_category__img{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}

.autor_category__img {
    width: 32px;
    height: 32px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    object-fit: cover;

    font-weight: 400;
    font-size: 16px;
    color: var(--Dark);
}





